<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Very interesting</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <form enctype="multipart/form-data" action="/blog/create/" method="post">
        {% csrf_token %}
        <p>
            <label>
                Title
                <input name="title" type="text">
            </label>
        </p>
        <p>
            <label for="description">Description</label>
            <input id="description" name="description" type="text">
        </p>
            <p>
            <label for="image">Image: </label>
            <input id="image" name="image" type="file">
        </p>
        <input type="submit">
    </form>
{% else %}
    <div>
        <h1>Please Register</h1>
    </div>
{% endif %}
</body>
</html>