<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Very interesting</title>
</head>
<body>
<form enctype="multipart/form-data" action="/blog/create" method="post">
    {%csrf_token%}
    <p>
    <label for= "title"> Название</label>
    <input  id="title" name="title" type="text">
    </p>
    <p>
    <label for="description">Описание</label>
    <input  id="description" name="description" type="text">
        <label for="special-description">дополнительная информация о фотке </label>
        <input id="special-description" type="text">
    </p>
    <p><label for="image">Фотография</label>?
    <input id="image" name="image" type="file">
     </p>
    <input type="submit">

</form>
</body>
</html>