<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
    <form  enctype="multipart/form-data" action="/blog/hm_blog" method="post">
        {% csrf_token %}
        <label for="image"> image </label>
        <input id="image" name="image" type="file" alt="images">
        <label for="title" >title </label>
        <input id="title" name="title" type="text" >
        <label for="Description">Description </label>
        <input id="Description" name="description" type="text">


        <input type="submit">

    </form>
  </div>

</body>
</html>