<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Beatiful Blog!!!</title>
</head>
<body>
   <h1 style="text-align:center">
   My Beatiful Blog ,Everyone Welcome!
  </h1>
     <h3 style="text-align:center">
       There you can see Amount of descriptions of picture
   </h3>
    <p><a href="http://127.0.0.1:8000/blog/extra-info">link for more information </a></p>
  <div>
      <ul style="list-style: none; text-align:center" >
          {%for i in blogs %}
          <li>
              <div>
                  <h2>{{ i.title }}</h2>
                  <p >
                      <img src="{{ i.image.url }}"style="width 500px ;height:500px" alt="">
                  </p>
                  <p>
                  <span> Likes{{i.likes}}</span>
                  </p>
                  <span>Reposts:{{i.reposts}}</span>
                    <h3>
                  <p>{{i.description}}</p>
                    </h3>

              </div>
              
          </li>
          {%endfor%}
      </ul>

  </div>
</body>
</html>