<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Beatiful Blog!!!</title>
</head>
<body>
   <h1 style="text-align:center">
   My Beatiful Blog ,Everyone Welcome!
  </h1>
     <h3 style="text-align:center">
       There you can see Amount of descriptions of picture
   </h3>
   <div class="" style="display: flex; justify-content: space-between;">
       <div>
               <p><a href="http://127.0.0.1:8000/blog/extra-info/">link for more information </a></p>

       </div>
       <div>
           <a href="{% url 'create' %}">CREATE BLOG</a>
       </div>
       <div>
           {% if request.user.is_authenticated %}
                Welcome to blog: {{request.user}}
                <p>
                    <a href="{% url 'logout' %}">logout</a>
                </p>
           {% else %}
                {{request.user}}
                <p>
                    <a href="{% url 'register' %}">Registrations</a>
                    |
                    <a href="{% url 'login' %}">Login</a>
                </p>
           {% endif %}
       </div>
   </div>
  <div>
      <ul style="list-style: none; text-align:center" >
          {%for i in blogs %}
          <li>
              <div>
                  <h2>{{ i.title }}</h2>
                  <p >
                      {% if i.image %}
                      <img src="{{ i.image.url }}" style="width: 500px; height: 500px" alt="">
                      {% endif %}
                  </p>
                  <p>
                  <span> Likes{{i.likes}}</span>
                  </p>
                  <span>Reposts:{{i.reposts}}</span>
                    <h3>
                  <p>{{i.description}}</p>
                    </h3>

              </div>
              
          </li>
          {%endfor%}
      </ul>

  </div>
</body>
</html>